doctype html
html.no-js(lang='en')
	include ../_inc/config.jade
	block vars
	head
		meta(charset="utf-8")
		title #{brand}: #{title}
		meta(name='description', content='#{description}')
		meta(name="keywords", content="#{keywords}")
		include ../_inc/head.jade
	body(class='#{page}')
		include ../_inc/header.jade
		block content
		include ../_inc/footer.jade
		include ../_inc/foot.jade